!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %meta{name: "viewport", content: "width=device-width, initial-scale: 1"}
    %title FileCabinet | Your life's work!
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header.navbar.navbar-default.navbar-fixed-top.bg-blue
      .container-fluid.col-md-11
        = link_to "FileCabinet", root_path, class: "h2 text-white"

        %nav
          - if user_signed_in?
            = link_to "Create Document", new_document_path, class: "text-white"
            = link_to "Sign Out", destroy_user_session_path, method: :delete, class: "text-white"
          - else
            =link_to "Sign In", user_session_path, class: "text-white"

    %p.notice= notice
    %p.alert= alert
    = yield
